@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  overflow: hidden;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  
  --bg-color: #ffffff;
  --text-color: #000000;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.dark {
  --bg-color: #1c1a1a;
  --text-color: #f1f1f1;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 250px;
  max-height: fit-content;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}